@font-face {
	font-family: 'Gotham Pro';
	src: url("../fonts/14076.ttf");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url("../fonts/14078.ttf");
	font-weight: normal;
	font-style: italic;
}


html.light{
    --color-switch: rgba(0, 0, 0, 0.25);
    --color-logo: rgba(0, 0, 0, 0.25);
    --secondary-shadow_iner:rgba(137, 137, 137, 0.0988855);
    --color-text-second: #535355;;
    --color-text-second_gray: #6D7278;
    --color-text-second_href: rgba(0, 122, 255, 0.617024);
    --color-text-second_h: #6D7278;
    --secondary-color_head: linear-gradient(179.11deg, #EEEEEE 1.95%, #D8D8D8 111%);
    --secondary-color: linear-gradient(122.1deg, #F7F7F7 -0.11%, #DEDEDE 131.65%);
    --third-color: #EAEAEA;
    --secondary-shadow: 1px 2px 7px 1px rgba(143, 143, 143, 0.5);
    --secondary-shadow_head: 0px 2px 4px rgba(130, 130, 130, 0.5);
    --div-color: #F2F2F2;
}


html.dark{
    --color-switch: #929292;
    --color-logo: #E0E0E0;
    --secondary-shadow_iner:rgba(93, 93, 93, 0.0988855);
    --color-text-second: #E0E0E0;
    --color-text-second_gray: #929292;
    --color-text-second_href: #0091FF;
    --color-text-second_h: #4A4D50;
    --secondary-color_head: linear-gradient(179.11deg, #5E5E5E 1.95%, #181818 111%);
    --secondary-color: linear-gradient(122.1deg, #B0B0B0 -0.11%, #050505 131.65%);
    --third-color: #B5B5B5;
    --secondary-shadow: 1px 2px 7px 1px rgba(0, 0, 0, 0.5);
    --secondary-shadow_head: inset 0px -1px 5px rgba(209, 209, 209, 0.5);
    --div-color: #F2F2F2;
}

body{
    margin: 0;
    font-family: 'Gotham Pro';
    font-size: 15px;
    line-height: 2;
    color: var(--color-text-second_gray);
     
}

*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


/* container */
.container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.bg__color{
    
    background: var(--secondary-color_head);
}

/* Intro */
.intro__inner.intro__mobil{
    display: none;
}

.intro{
    display: flex;
    width: 100%;
   
}

.intro__inner{
    display: flex;
    flex-wrap: wrap;
    
}

.intro__item{
   
    padding: 0 56px;
}

.intro__item.first {
    width: 40%;
}


.intro__item.second {
    display: flex;
    /* justify-content: end; */
    margin-top: 53px;
    width: 60%;

}



.intro__title{ 
    text-align: right;
    font-size: 50px;
    line-height: 1.18;
    margin-top: 82px;
    color: var(--color-text-second);
    font-weight: 400;
    letter-spacing: 1.01428px;
}

.intro__info{
    text-align: right;
    margin-top: 26px;
    font-size: 30px;
    margin-bottom: 41px;
    line-height: 1.17;
    color: var(--color-text-second_gray);
    font-weight: 300;
}

.intro__rew{
    text-align: right;
    font-size: 26px;
    line-height: 1.15;
    margin-bottom: 79px;
    color: var(--color-text-second_href);
    font-weight: 300;
}

.intro__img{
    display: block;
    max-width: 376px;
    height: auto;
}

.intro__column{
    text-align: center;
    
}

.intro__column.first__column{
    margin-right: 33px;
}

.intro__column.second__column{
    align-items:center;
    padding: 10px 0;
   
}

.chengelog__intro__text{
    display: flex;
    
    flex-wrap: wrap;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 0.888571px;
    color: #6D7278;

}

.intro__chengelog__title{
    font-weight: 400;
}




/* Header */
.header{
    width: 100%;
    height: auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
    background: var(--secondary-shadow_iner);
    
 
}

.header__logo{  
    font-size: 26px;
    line-height: 1.15;
    color: var(--color-logo);
}

.header__text{
    font-size: 24px;
    line-height: 1.17;
    text-transform: uppercase;
}

.header__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 23px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-switch);

    transition: color .2s linear;
}

.header__link:hover {
    color:#1A8FE8;
}


/* section */

.section__colors{
    padding: 42px 40px;
    background: var(--secondary-color);
}




.content__section{
    margin-top: 42px;
    position: relative;
    background: #EAEAEA;
    max-height: 680px;
    box-shadow: var(--secondary-shadow);
    border-radius: 16px;
    width: 100%;
    display: flex;

}


.content__section.content__section__changelog{
    margin-top: 0;
}

.section__item {
    width: 50%;
}

.section__item.left__item{
    width: 44%;
    padding: 27px;
    background: #FAFAFA;
    border-radius: 16px;
}

.section__title{
    display: flex;
    justify-content: center;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: -0.148572px;
    color: var(--color-text-second_h);
}

.section__text{
    height: 90%;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 200;
    letter-spacing: -0.0742858px;
    color: var(--color-text-second_h);
    text-align: justify;
}

.section__footer{
    display: flex;
    justify-content: space-between;	
   
}

.section__footer__info{
    font-size: 22px;
    line-height: 1.18;
    font-weight: 400;
    letter-spacing: -0.0817144px;
    text-decoration: none;
    color: #007AFF;
}
.section__img{
    width: 314px;
    margin-left: 10px;
}

.section__img.personal__img{
    width: 544px;
}

.arrow__img{
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    z-index: 1;
}

.section__team{
    max-height: none;
}


.section__item.section__team{
    width: 56%;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
}

.team__item {
    min-width: 240px;
    width:30%;
    margin: 5px;
    background: #FAFAFA;
    border: 1px solid #D2D2D2;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px 1px rgba(209, 209, 209, 0.5);
    border-radius: 20px;
    text-align: center;
}



.teams__name{
    font-size: 22px;
    line-height: 1.18;
    padding: 14px 20px 10px;
    letter-spacing: -0.0817144px;
    color: #000000;
}

.teams__prof{
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 10px;
    letter-spacing: -0.0594286px;
    font-weight: 300;
    color: #6D7278;
}

.teams__contatc{
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 27px;
    letter-spacing: -0.0594286px;
    font-weight: 400;
    color: #0079DA;
}
.teams__contatc a{
    text-decoration: none;
}

.team__photo{
    display: block;
    width:100%;
}

.teams__prof.teams__lower{
    padding-bottom: 51px;
}

.spot__team{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: -0.0594286px;
    color: rgba(0, 0, 0, 0.25);
}

.spot__content{
    margin: 167px 63px;
}

.section__item.section__progres__bar{  
     width: 50%;
}
.container1{
    margin-left: 60px;    
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

.bar {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
    overflow: hidden;
    margin: 50px;
  }
  .bar:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    border-radius: 50%;
    box-shadow: inset -3px -3px 7px #ffffffb0,
      inset 3px 3px 5px rgba(94, 104, 121, 0.692);
  }
  svg {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  svg circle {
    position: absolute;
    transform: scale(0.939);
    transform-origin: center;
    fill: none;
    stroke: #007AFF;;
    stroke-width: 30px;
    stroke-dasharray: 630px;
    /* stroke-dashoffset: 630px; */
  }
  .bar:nth-child(1) svg circle {
    animation: bar_1 1s ease forwards;
  }
  .bar:nth-child(2) svg circle {
    animation: bar_2 1s ease forwards;
  }
  .bar:nth-child(3) svg circle {
    animation: bar_3 1s ease forwards;
  }
  .bar:nth-child(4) svg circle {
    animation: bar_4 1s ease forwards;
  }
  .svg_h {
    position: absolute;
    font-size: 22px;
    line-height: 1.2;
    font-family: 'Gotham Pro';
    color: var(--color-text-second_h);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* svg circle {
      stroke-dashoffset: calc(950 - (950*10) / 100);
  } */
  @keyframes bar_1 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 20) / 100);
    }
  }
  @keyframes bar_2 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 12) / 100);
    }
  }
  @keyframes bar_3 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 25) / 100);
    }
  }
  @keyframes bar_4 {
    0% {
      stroke-dashoffset: 630px;
    }
    100% {
      stroke-dashoffset: calc(630px - (630px * 0) / 100);
    }
  }


/* footer */

.footer__inner{
    display: flex;
    justify-content: space-between;
    margin: 18px 40px 12px 40px ;
}

.footer__contact__link{
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: -0.0817144px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.footer__year{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.0817144px;
    color: rgba(0, 0, 0, 0.25);
}

.footer__scroll{
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: -0.0817144px;
    text-decoration: none;
    color: #007AFF;
}

.footer__content{
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: -0.0817144px;
    color: rgba(0, 0, 0, 0.5);

}

.footer__contact__link.color__link__footer{
    color: #007AFF;
}

.for-slik_slider{
    display: flex;
}
.for-slik_slider .item{
    width: 330px;
    height: 680px;
}
.for-slik_slider .item img{
    width: 294px;
    height: 680px;
    margin-left: 10px;
}
.mob{
    display: block;
}
.mob1{
    display: none;
}
@media (max-width: 1230px) {
    /* Intro */
    .intro__title {
        font-size: 43px; 
    }
    .intro__info {
        font-size: 25px; 
    }
    .intro__img {
        max-width: 340px;
        padding-top: 40px;
    }
    
     /* section */
   .section__item.left__item{
       width: 44%;
   }

   .section__img {
       width: 275px;
       height: 100%;
       
       margin-left: 10px;
   }

   .team__item {
    min-width: auto;
    }
   .teams__name {
    font-size: 12px;
    }

    .teams__contatc {
        font-size: 13px;
    }

    .section__text {
        font-size: 15.9px;
    }
    .section__team {
        max-height: 617px;
    }

    .progres__bar__item {
        min-width: 280px;
    }
}    

@media (max-width: 990px) {
    .mob{
        display: block;
    }
    /* Intro */
    .intro__title {
        font-size: 28px; 
    }
    .intro__info {
        font-size: 21px; 
    }

    .intro__rew {
        font-size: 21px;
    }
    .intro__img {
        max-width: 287px;
        padding-top: 40px;
    }
    .intro__button {
        margin-bottom: 17px;
        font-size: 15px;
        max-width: 170px;
    }
    .intro__column.second__column {
        height: 90%;
        font-size: 23px;
    }

     /* section */
     .content__section{
         max-height: none;
     }
    .section__item.left__item{
        width: 44%;
    }

    .section__img {
        width: 210px;
        height: 100%;
        margin-left: 10px;
    }

    .section__text {
        font-size: 13.9px;
    }
    .section__team {
        max-height: 524px;
    }
    .teams__prof {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .teams__contatc {
        font-size: 10px;
    }
    .teams__prof.teams__lower {
        padding-bottom: 10px;
    }
    .img__progres__bar {
        width: 200px;
    }
    .progres__bar__item {
        min-width: min-content;
    }
    .section__item.section__progres__bar {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
}


@media (max-width: 768px) {
    html, body{
        overflow-x: hidden;
    }
    .mob{
        display: none;
    }
    .mob1{
        display: block;
    }

    .header__link{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.0520001px;
    }
    .header__logo{
        display: none;
    }

    

    .intro__title{
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.446285px;
    }

    .intro__img {
        display: block;
        max-width: 120px;
        height: auto;
    }
    .intro__rew {
        font-size: 14px;
        line-height: 15px;    
        letter-spacing: 0.00184585px;
    }

    .intro__column.second__column.chengelog__intro__text{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.473905px;

        color: #6D7278;
    }
    .intro__info{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.026095px;
    }
    .intro__button{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.00210954px;
    }

    .intro__item {
        padding: 0;
    }

    .section__team{
        background: #FAFAFA;
        border-radius: 16px;
        max-height: 1036px;
    }

    .section__item.section__team {
        width: auto;
    }

    .team__photo {
        display: block;
        max-width: 120px;
    }

    .team__item {
        display: flex;
        width: 100%;
    }

    .teams__name{
        font-size: 16px;
        line-height: 19px;
        padding: 0 0 15px 0;
        letter-spacing: -0.0594286px;
        color: #000000;
    }

    .teams__prof{
        height: auto;
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 8px;
        letter-spacing: -0.0520001px;
        color: #6D7278;
    }

    .teams__contatc{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.0520001px;
        color: #007AFF;
        padding-bottom: 0;
    }

    .teams__info{
        padding: 27px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }


    .section__title {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.0742858px;
    }

    .section__text {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.052px;
    }

    .section__footer__info{
        font-size: 18px;
        line-height: 21px;
        letter-spacing: -0.0668572px;
    }

    .arrow__img{
        display: none;
    }

    .section__item.left__item {
        width: 100%;
    }

    .section__colors {
        padding: 12px 8px;
    }

    .section__item.left__item {
        padding: 18px 10px;
    }

    .content__section.content__section__changelog{
        display: flex;
        flex-wrap: wrap;
        background: #FAFAFA;
        border-radius: 16px;
    }

    .section__item{
        width: auto;
        padding: 12px 18px 7px;
    }
    .section__img {
        width: 49%;
        margin: 0;
    }

    .content__section {
        margin-top: 22px;
    }

    .content__section{
        display: flex;
        flex-wrap: wrap;
    }

    .section__img.personal__img {
        width: 100%;
    }

    .footer__contact__link {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.0742858px;
    }

    .footer__year{
        display: none;
    }

    .footer__scroll {
        font-size: 20px;
        line-height: 23px;
        letter-spacing: -0.0742858px;
    }
    .bar{
        height: 140px;
        width: 140px;
        margin: 16px;
    }
    .container1{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 20px;
    }
    .section__item.section__progres__bar{
        width: 100%;
        background: #FAFAFA;
        border-radius: 16px;
    }


    .img__progres__bar {
        width: 167px;
    }

    .spot__team{
        display: none;
    }

     /* mobil__intro */

     .intro__inner{
        display: none;
    }
    .intro__inner.intro__mobil{
        display: flex;
    }


     .intro__info{
        text-align: left;
        margin-bottom: 0;
    }
    .intro__info a{
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.026095px;
        text-decoration: none;
        color: #1A8FE8;
    }

    .intro__item.second {
        display: block; 
        margin-top: 0;
        width: 60%;
    }

    .intro__img {
        margin: 14px 38px 34px 18px;
        padding-top: 0;
    } 

    .intro__rew{
        text-align: left;
        margin: 0 0 15px 18px;
    }
    .intro__title{
        margin: 21px 0 8px;
        text-align: left;
    }

    .intro__column.second__column{
        padding: 40px 0 15px;
    }

    .intro__column.second__column {
        height: 49%;
    }

}
@media (max-width: 410px){
    .container1 {
        padding: 30px;
    }
    .mob{
        display: none;
    }
}
@media (max-width: 375px){
    .container1 {
        padding: 20px;
    }
    .bar {
        margin: 6px;
    }
    .mob{
        display: none;
    }
}

@media (max-width: 320px) {
    .mob{
        display: none;
    }
    .container1 { 
        padding: 0;
    }
    .teams__info {
        padding: 11px;
    }
    .teams__contatc {
        font-size: 12px;
    }
    .teams__prof {
        font-size: 14px;
    }
    .team__item img {
        width: 90px!important;
        height: auto!important;
    }
    .intro__img {
        max-width: 100px;
    }
    .intro__info {
        margin-top: 9px;
        font-size: 13px;
    }
    .header__text {
        display: flex;
    }
    .header__link {
        margin: 0 10px;
    }

    .footer__scroll {
        font-size: 16px;
    }

    .footer__contact__link {
        font-size: 16px;
    }

}